.header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 8 20px;
    vertical-align: middle;
}

.username {
    margin-left: auto;
    
}